﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Mis estilos*/
.izquiera {
    text-align: right;
    align-content: flex-end;
    width: auto;
    height: auto;
}

.derecha {
    text-align: left;
    align-content: start;
    width: auto;
    height: auto;
}

.btnSiguiente {
    color: #f7f7f7;
    background-color: #2559b6;
}

.centro {
    align-content: center;
}

.contenedor-menu {
    align-content: end; /**/
    width: 30%;
    min-width: 300px;
    display: inline-block;
    line-height: 26px;
    font-family: 'Quicksand', sans-serif; /*
    height: 100vh;*/
    position: fixed; /*
    background-color: #1861aC;*/
}

/*login*/
/*body,
html {
    margin: 0;
    padding: 0;
    height: 100%;*/
/* background: #60a3bc !important;*/
/*}*/

.user_card {
    height: auto; /*400px;*/
    width: 450px;
    margin-top: 20px;
    margin-bottom: auto;
    /* background: #989898;*/
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -20px;
    border-radius: 50%;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 80px;
}

.login_btn {
    width: 100%;
    background: #1b6ec2 !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #1b6ec2 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #1b6ec2 !important;
}

/*Dashboard*/
.Contenedor {
    height: auto; /*400px;*/
    width: 335px;
    margin-top: 20px;
    margin-bottom: auto;
    background: #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.ver_btn {
    width: 25%;
    height:35px;
    background: #ed6124 !important;
    color: white !important;
}

.btnBotones {
    width: 25%;
    height: 35px;
    text-align:center;
}

.divCentro{
    text-align:center;
    justify-content:center;
}
.tamanoDiv{
    width:350px;
    height:auto;
    margin:1px 3px 3px 3px;
}

.editar_btn {
    width: 25%;
    background: #63b438 !important;
    color: white !important;
}

.eliminar_btn {
    width: 25%;
    background: #c61e1e !important;
    color: white !important;
}

.crear_btn {
    width: 10%;
    background: #1b6ec2 !important;
    color: white !important;
}

.btnnomral {
    width: 80px;
    background: #1b6ec2 !important;
    color: white !important;
}

.textoBlanco {
    text-emphasis-color: white;
}

.textoGris{
    text-emphasis-color:dimgrey;
}

.verth_btn {
    width: 80px;
    background: #ed6124 !important;
    color: white !important;
}

.editarth_btn {
    width: 80px;
    background: #63b438 !important;
    color: white !important;
}

.eliminarth_btn {
    width: 80px;
    background: #c61e1e !important;
    color: white !important;
}

.tamanoTabla {
    width: auto;
}

.margin {
    margin: 50px, 50px, 50px, 50px;
}

.contenedorGrande {
    height: auto; /*400px;*/
    width: 335px;
    margin-top: 20px;
    margin-bottom: auto;
    background: #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.textoAzul{
    text-emphasis-color:dodgerblue;
}