﻿<nav class="navbar navbar-dark  bg-dark navbar-inverse">
    <div class="container-fluid ">
        <a class="navbar-brand fs-1" href="#"><b>IoT-eVigilo</b></a>
        <div class="izquiera">
            <a class="navbar-brand " href="login">Login</a>
            <a class="navbar-brand " href="Registro">Registro</a>
        </div>
    </div>
</nav>