﻿@page "/Dashboard"
<h3><b>Proyectos</b></h3><br />

    <div class="container-fluid">
        <div class="">
            <label>nombre</label>
             <label>nombre</label>
        </div>
        <div class="form-group" >
            <div class="Contenedor">
                <label class="textoBlanco"><b>Esto es un nombre</b></label><br />
                <label class="textoBlanco">Esto es una descripcion</label><br />
                <div class="form-group">
                    <button type="button" name="button" class="btn ver_btn">Ver</button>
                    <button type="button" name="button" class="btn editar_btn">Editar</button>
                    <button type="button" name="button" class="btn eliminar_btn">Eliminar</button>
                </div>
            </div>
            <div class="Contenedor">
                <label class="textoBlanco"><b>Esto es un nombre</b></label><br />
                <label class="textoBlanco">Esto es una descripcion</label><br />
                <div class="form-group">
                    <button type="button" name="button" class="btn ver_btn">Ver</button>
                    <button type="button" name="button" class="btn editar_btn">Editar</button>
                    <button type="button" name="button" class="btn eliminar_btn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>



<br /><br />
<button type="button" name="button" class="btn crear_btn">Nuevo</button>

<div class="Contenedor">
    <label class="textoBlanco"><b>Esto es un nombre</b></label><br />
    <label class="textoBlanco">Esto es una descripcion</label><br />
    <div class="form-group">
        <button type="button" name="button" class="btn ver_btn">Ver</button>
        <button type="button" name="button" class="btn editar_btn">Editar</button>
        <button type="button" name="button" class="btn eliminar_btn">Eliminar</button>
    </div>
</div>

@code {

}
