﻿@page "/"
@page "/login"
@inject NavigationManager navigationManager

@code {
    private void IniciarSession()
    {
        navigationManager.NavigateTo("Dashboard", true);
    }
}

<div class="container h-50">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card bg-light">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="/Img/logo.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" name="" class="form-control input_user" value="" required="required" placeholder="Email">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" required="required" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn" @onclick="IniciarSession">Ingresar</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    ¿No cuentas con una cuenta? <a href="Registro" class="ml-2">Registrarse</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Olvidaste tu contraseña</a>
                </div>
            </div>
        </div>
    </div>
</div>
