﻿@page "/Proyecto"
@inject NavigationManager navigationManager
<h3>Proyecto nombre</h3>
<label>7897568sbsbgvsfr7865</label>
<br /><br />

<button type="button" name="button" class="btn crear_btn">Nuevo sensor</button>

<table class="table tamanoTabla">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody aria-live="polite" aria-relevant="all">
        <tr>
            <th scope="row">1</th>
            <td>789</td>
            <td>Esto es un nombre</td>
            <td>Esto es una descripcion</td>
            <td><button class="verth_btn btn">Ver</button></td>
            <td><button class="editarth_btn btn">Editar</button></td>
            <td><button class="eliminarth_btn btn">Eliminar</button></td>
        </tr>
       
    </tbody>
</table>

@code {
    public void DetallesSensor() {
        navigationManager.NavigateTo("DetallesSensor", true);
    }
}
