﻿@page "/Registro"
@code{}

<div class="container h-50">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card bg-light">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="/Img/logo.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">                       
                        <input type="text" name="" class="form-control input_user" value="" required="required" placeholder="Nombre">
                    </div>
                    <div class="input-group mb-3">                       
                        <input type="text" name="" class="form-control input_user" value="" required="required" placeholder="Apellido paterno">
                    </div>
                    <div class="input-group mb-3">
                         <input type="text" name="" class="form-control input_user" value="" required="required" placeholder="Apellido materno">
                    </div>
                    <div class="input-group mb-3">                       
                        <input type="email" name="" class="form-control input_user" value="" required placeholder="Email">
                    </div>
                    <div class="input-group mb-2">
                        <input type="password" name="" class="form-control input_pass" value="" required="required" placeholder="Contraseña">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>