﻿@page "/sensor"
<h3>Lecturas del sensor</h3>
<div>
    <h4>Grafica</h4>
    <br />
    <h4>Tabla</h4>
    <button class="btn izquiera"><img src="/Img/File Download-WF.png" />Descargar</button>
    <br />
    <table class="table tamanoTabla">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Unidad de medida</th>
            </tr>
        </thead>
        <tbody aria-live="polite" aria-relevant="all">
            <tr>
                <th scope="row">1</th>
                <td>esto es una Id</td>
                <td>Esto es un nombre</td>
                <td>Esto es una descripcion</td>
                <td>Esto es una unidad de medida</td>
            </tr>
        </tbody>
    </table>
    <div class="derecha"><label>Total: </label></div>

</div>
    @code {

    }
