﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


.nav-item:first-of-type {
    padding-top: 1rem;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.izquiera {
    text-align:right;
    align-content:end;
    width:auto;
    height:auto;
}

.derecha {
    text-align: left;
    align-content: start;
    width: auto;
    height: auto;
}

.btnSiguiente {
    color: #f7f7f7;
    background-color: #2559b6;
}

.centro{
    align-content:center;
}

.contenedor-menu {
    align-content:end;/**/
    width: 30%;
    min-width: 300px;
    display: inline-block;
    line-height: 26px;
    font-family: 'Quicksand', sans-serif;/*
    height: 100vh;*/
    position: fixed;/*
    background-color: #1861aC;*/
}

/*login*/
/*body,
html {
    margin: 0;
    padding: 0;
    height: 100%;*/
   /* background: #60a3bc !important;*/
/*}*/

.user_card {
    height: auto;/*400px;*/
    width: 350px;
    margin-top: 60px;
    margin-bottom: auto;
   /* background: #989898;*/
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #1b6ec2 !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #1b6ec2 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #1b6ec2 !important;
}

/*Dashboard*/
.Contenedor{
    height: auto; /*400px;*/
    width: 335px;
    margin-top: 20px;
    margin-bottom: auto;
    background: #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.ver_btn {
    width: 25%;
    background: #ed6124 !important;
    color: white !important;
}

.editar_btn {
    width: 25%;
    background: #63b438 !important;
    color: white !important;
}

.eliminar_btn {
    width: 25%;
    background: #c61e1e !important;
    color: white !important;
}

.crear_btn {
    width: 10%;
    background: #1b6ec2 !important;
    color: white !important;
}

.btnnomral{
    width:80px;
    background:#1b6ec2 !important;
    color:white !important;
}

.textoBlanco{
    text-emphasis-color:white;
}

.verth_btn {
    width: 80px;
    background: #ed6124 !important;
    color: white !important;
}

.editarth_btn {
    width: 80px;
    background: #63b438 !important;
    color: white !important;
}

.eliminarth_btn {
    width: 80px;
    background: #c61e1e !important;
    color: white !important;
}

.tamanoTabla{
    width:auto;
}

.margin{
    margin: 50px, 50px, 50px, 50px; 
}

.contenedorGrande {
    height: auto; /*400px;*/
    width: 335px;
    margin-top: 20px;
    margin-bottom: auto;
    background: #dedede;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}