﻿@page
@model IoteVigilo.Web.Pages.DetalleProyectoModel
@{
    ViewData["Title"] = "Detalles del proyecto";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}
<h3>@Model.Proyecto.Nombre</h3>
<hr class="my-lg-1">
<h4>Sensores</h4><br />

<div class="alert alert-primary row" role="alert" style="margin: auto; height: 100%">
    <a asp-page="/PanelPrincipal" asp-route-IdUsuario="@Model.Proyecto.Id_Usuario" class="textoGris">Panel principal/</a>
</div><br /><br />


<input type="hidden" value="@Model.Proyecto.Id" />
<a class="btn btn-outline-success" asp-page="/NuevoSensor" asp-route-idProyecto="@Model.Proyecto.Id">Nuevo sensor</a><br />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de medida</th>
            <th scope="col">Detalle</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody aria-live="polite" aria-relevant="all">
        @foreach (var item in @Model.SensorActuadors)
        {
        <tr>
            <td scope="row">@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.UnidadMedida</td>
            <td><a asp-page="/DetalleSensor" asp-route-idSensor="@item.Id" class="btn btn-success">Ver</a></td>
            <td><a class="btn btn-danger" asp-page="/EliminaSensor" asp-route-idSensor="@item.Id">Eliminar</a></td>

        </tr>
        }
    </tbody>
</table>