﻿@page
@model IoteVigilo.Web.Pages.DetalleSensorModel
@{
    ViewData["Title"] = "Detalles del sensor";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<h3>Detalles del sensor @Model.SensorActuador.Nombre</h3>
<br />

<div class="alert alert-primary row" role="alert" style="margin: auto; height: 100%">
    <a asp-page="/PanelPrincipal" asp-route-IdUsuario="@Model.SensorActuador.Id_Usuario" class="textoGris">Panel principal/ </a>
    <a asp-page="/DetalleProyecto" asp-route-idProyecto="@Model.SensorActuador.Id_Proyecto" class="textoGris">Detalle Proyecto/</a>
</div><br /><br />

<form method="post">
    <input type="submit" class="btn btn-outline-success" value="Descargar archivo" />
</form>
<br />

<h4>Grafica</h4>
<div id="myfirstchart" style="height: 250px;"></div>
<br />
<h4>Tabla</h4>
<table class="table table-hover">
    <thead>
        <tr>
             <th scope="col">Fecha-Hora</th>
            <th scope="col">Valor</th>
            <th scope="col">Unidad de Medida</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lectura)
        {
            <tr>
                <td>@item.FechaHora</td>
                <td>@item.Valor</td>
                <td>@Model.SensorActuador.UnidadMedida</td>
            </tr>
        }
    </tbody>
</table>

<script>
    new Morris.Line({

        element: 'myfirstchart',

        data: [
            @foreach (var item in Model.Lectura)
            {
                @:{fecha:'@string.Format("{0:u}",item.FechaHora)',value:@item.Valor},
            }
        ],

        xkey: 'fecha',

        ykeys: ['value'],

        labels: ['Valor']
    });
</script>

