﻿@page
@model IoteVigilo.Web.Pages.EliminaProyectoModel
@{
    ViewData["Title"] = "Eliminar proyecto";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}

<h3>¿Realmente deseas eliminar el proyecto?</h3>
<form method="post">
    <input type="hidden" asp-for="@Model.Proyecto.Id" />
    <input type="hidden" asp-for="@Model.Proyecto.Id_Usuario" />
    <div class="form-group">
        <label>Id</label>
        <input class="form-control" value="@Model.Proyecto.Id" asp-for="@Model.Proyecto.Id" disabled>
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input class="form-control" value="@Model.Proyecto.FechaHora" disabled>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" value="@Model.Proyecto.Nombre" asp-for="@Model.Proyecto.Nombre" disabled>
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input class="form-control" value="@Model.Proyecto.Descripcion" asp-for="@Model.Proyecto.Descripcion" disabled>
    </div>
    <div class="row" style="margin: auto; height: 100%">
        <a asp-page="/PanelPrincipal" asp-route-IdUsuario="@Model.Proyecto.Id_Usuario" class="btn btn-outline-warning">Cancelar</a>
        <input type="submit" class="btn btn-outline-danger" value="Eliminar" />
    </div>
</form>

@if (Model.Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Model.Mensaje
    </div>
}