﻿@page
@model IoteVigilo.Web.Pages.EliminaSensorModel
@{
    ViewData["Title"] = "Elimina sensor";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}
<h3>¿Realmente deseas eliminar el sensor?</h3>

<form method="post">
    <div class="form-group">
        <label>Id</label>
        <input class="form-control" value="@Model.SensorActuador.Id" asp-for="@Model.SensorActuador.Id" disabled>
    </div>
    <div class="form-group">
        <label>Fecha</label>
        <input class="form-control" value="@Model.SensorActuador.FechaHora" disabled>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" value="@Model.SensorActuador.Nombre" asp-for="@Model.SensorActuador.Nombre" disabled>
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <input class="form-control" value="@Model.SensorActuador.Descripcion" asp-for="@Model.SensorActuador.Descripcion" disabled>
    </div>
    <div class="form-group">
        <label>Unidad de medida</label>
        <input class="form-control" value="@Model.SensorActuador.UnidadMedida" asp-for="@Model.SensorActuador.UnidadMedida" disabled>
    </div>
    <input type="hidden" asp-for="@Model.SensorActuador.Id" />
    <input type="hidden" asp-for="@Model.SensorActuador.Id_Proyecto" />

    <div class="row" style="margin: auto; height: 100%">
        <a asp-page="/DetalleProyecto" asp-route-idProyecto="@Model.SensorActuador.Id_Proyecto" class="btn btn-outline-warning">Cancelar</a>
        <input type="submit" class="btn btn-outline-danger" value="Eliminar" />
    </div>
</form>
@if (Model.Mensaje!="") 
{
    <div class="alert alert-danger" role="alert">
        @Model.Mensaje
    </div>
}