﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <table>
        <tbody>
            <tr>
                <td>
                    <h2 class="display-4 text-center"><b>Plataforma de IoT</b></h2>
                    <p class="lead text-center">Esta es una plataforma que administra y monitorea sensores.</p>
                    <hr class="my-4">
                </td>
                <td>
                    <div class="container h-50">
                        <div class="d-flex justify-content-center h-50">
                            <div class="user_card bg-secondary">
                                @*<div class="d-flex justify-content-center">
                                    <div class="brand_logo_container">
                                        <img src="/Img/logo.png" class="brand_logo" alt="Logo">
                                    </div>
                                </div>*@
                                <div class="d-flex justify-content-center form_container">
                                    <form method="post">
                                        <div class="input-group mb-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="email" asp-for="Login.Correo" class="form-control input_user" placeholder="Email" required>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text btn-primary"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" asp-for="Login.Password" class="form-control input_pass" placeholder="Contraseña" required>
                                        </div>
                                        @*<div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                                            </div>
                                        </div>*@
                                        <div class="d-flex justify-content-center mt-3 login_container">
                                            @if (Model.Error != null)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    @Model.Error
                                                </div>
                                            }
                                        </div>
                                        <div class="d-flex justify-content-center mt-3 login_container">
                                            <input type="hidden" asp-for="EsLogin" value="true" />
                                            <input type="submit" class="btn btn-primary" value="Ingresar" />
                                        </div>

                                    </form>
                                </div>

                                <div class="mt-4">
                                    <form method="post">
                                        <div class="d-flex justify-content-center links">
                                            ¿No cuentas con una cuenta?
                                            <input type="hidden" asp-for="EsLogin" value="false" />
                                            <a class="ml-2" asp-page="/NuevoUsuario" class="textoAzul">Registrarse</a>
                                        </div>
                                    </form>                                    
                                    @*<div class="d-flex justify-content-center links">
                                        <a href="#">Olvidaste tu contraseña</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    @*<h2 class="display-4 text-center"><b>Plataforma de IoT</b></h2>
    <p class="lead text-center">Esta es una plataforma que administra y monitorea sensores.</p>
    <hr class="my-4">
    <div class="container h-50">
        <div class="d-flex justify-content-center h-50">
            <div class="user_card bg-light">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="/Img/logo.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" asp-for="Login.Correo" class="form-control input_user" placeholder="Email" required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" asp-for="Login.Password" class="form-control input_pass" placeholder="Contraseña" required>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            @if (Model.Error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Model.Error
                                </div>
                            }
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="hidden" asp-for="EsLogin" value="true" />
                            <input type="submit" class="btn btn-primary" value="Ingresar" />
                        </div>

                    </form>
                </div>

                <div class="mt-4">
                    <form method="post">
                        <div class="d-flex justify-content-center links">
                            ¿No cuentas con una cuenta?
                            <input type="hidden" asp-for="EsLogin" value="false" />
                            <a href="Registro" class="ml-2">Registrarse</a>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Olvidaste tu contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>