﻿@page
@model IoteVigilo.Web.Pages.NuevoSensorModel
@{
    ViewData["Title"] = "Nuevo sensor";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}
<form method="post">
    <fieldset>
        <legend>Nuevo sensor</legend>
        <div class="form-group">
            <label>Nombre</label>
            <input type="hidden" asp-for="@Model.SensorActuador.Id_Usuario" />
            <input type="hidden" asp-for="@Model.SensorActuador.Id_Proyecto" />
            <input type="text" class="form-control" placeholder="Nombre" required asp-for="@Model.SensorActuador.Nombre" />
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" asp-for="@Model.SensorActuador.Descripcion" placeholder="Descripcion" required />
        </div>
        <div class="form-group">
            <label>Unidad de valor</label>
            <input type="text" class="form-control" asp-for="@Model.SensorActuador.UnidadMedida" placeholder="Unidad de medida" required />
        </div>
        @if (Model.Mensaje != "")
        {
            <div class="alert alert-dismissible alert-danger">
                @Model.Mensaje
            </div>
        }
        <input type="submit" class="btn btn-success" value="Guardar" />
    </fieldset>
</form>