﻿@page
@model IoteVigilo.Web.Pages.NuevoProyectoModel
@{
    ViewData["Title"] = "Nuevo proyecto";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}
<form method="post">
    <fieldset>
        <legend>Nuevo proyecto</legend>
        <div class="form-group">
            <label>Nombre</label>
            <input type="hidden" asp-for="@Model.Proyecto.Id_Usuario"/>
            <input type="text" class="form-control" placeholder="Nombre" required asp-for="@Model.Proyecto.Nombre">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" asp-for="@Model.Proyecto.Descripcion" placeholder="Descripción">
        </div>
        @if (Model.Mensaje != "") {
        <div class="alert alert-dismissible alert-danger">
            @Model.Mensaje
        </div>
        }
        <input type="submit" class="btn btn-success" value="Guardar" />
    </fieldset>
</form>