﻿@page
@model IoteVigilo.Web.Pages.NuevoUsuarioModel
@{
    ViewData["Title"] = "Nuevo usuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <fieldset>
        <legend>Nuevo usuario</legend>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" asp-for="@Model.Usuario.Nombre" required placeholder="Nombre"/>
        </div>
        <div class="form-group">
            <label>Apellido paterno</label>
            <input type="text" class="form-control" asp-for="@Model.Usuario.ApellidoPaterno" required placeholder="Apellido paterno"/>
        </div>
        <div class="form-group">
            <label>Apellido materno</label>
            <input type="text" class="form-control" asp-for="@Model.Usuario.ApellidoMaterno" required placeholder="Apellido materno"/>
        </div>
        <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" asp-for="@Model.Usuario.Email" required placeholder="Correo electronico"/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" asp-for="@Model.Usuario.Password" required placeholder="Password"/>
        </div>
        @if (Model.Mensaje!="") {
        <div class="alert alert-dismissible alert-danger">
            @Model.Mensaje
        </div>
        }
        <input type="submit" class="btn btn-success" value="Registrar"/>
    </fieldset>
</form>

