﻿@page
@model PanelPrincipalModel
@{
    ViewData["Title"] = "Panel principal";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}

<h3>Bienvenido @Model.DatosPanelUsuario.Usuario.Nombre</h3>

<hr class="my-lg-1">

<h4>Mis proyectos</h4>

<a class="btn btn-outline-primary" asp-page="/NuevoProyecto" asp-route-id="@Model.DatosPanelUsuario.Usuario.Id">Agregar proyecto</a><br />

<div class="row" style="margin: auto; height: 100%">
    @foreach (var item in @Model.DatosPanelUsuario.Proyectos)
    {
        <div class="tamanoDiv alert alert-dark">
            <label class="textoBlanco"><b>@item.Nombre</b></label><br />
            <label class="textoBlanco">@item.Descripcion</label><br />
            <div class="form-group">
            <a asp-page="/DetalleProyecto" asp-route-idProyecto="@item.Id" class="btn btn-success">Ver</a>
            <a class="btn btn-danger" asp-page="/EliminaProyecto" asp-route-id="@item.Id" >Eliminar</a>
  
            </div>
        </div>
    }

</div>
@*<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody aria-live="polite" aria-relevant="all">
        @foreach (var item in Model.DatosPanelUsuario.Proyectos)
        {
            <tr>
                <td scope="row">@item.Id;</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td><a asp-page="/DetalleProyecto" asp-route-idProyecto="@item.Id" class="btn btn-success">Ver</a></td>
                <td><a class="btn btn-danger" asp-page="/EliminaProyecto" asp-route-id="@item.Id" >Eliminar</a></td>
            </tr>
        }

    </tbody>
</table>*@