﻿@page
@model IoteVigilo.Web.Pages.SalirModel
@{
    ViewData["Title"] = "Salir";
    Layout = "~/Pages/Shared/_LayoutPanel.cshtml";
}
<form method="post">    
    <h3>¿Realmente esta seguro de querer salir?</h3>
    <input type="submit" class="btn btn-danger" value="Salir" />
</form>

 